PORT=port
USER=user
PASS=senha
DB_PORT=3306
JWT_SECRET="alguma chave jwt"
DATABASE_URL="mysql://${USER}:${PASS}@localhost:${PORT}/teste"
SHADOW_DATABASE_URL="mysql://${USER}:${PASS}@localhost:${PORT}/teste_secomp"