<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SECOMP UFSCar 2024 - Confirmação de E-mail</title>
    <link rel="icon" href="https://app.secompufscar.com.br/favicon.ico" type="image/x-icon" sizes="48x48">
    <style>

    #all {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        padding: 1rem; 
        box-sizing: border-box; 
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border: 1px solid #EBEBEB;
        border-radius: 3px;
        padding: 2.5rem;
        max-width: 80%;
        background-color: white;
    }

    .success-msg{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    body {
        background-color: #FFFFFF;
        height: 100vh;
        margin: 0;
    }

    h1 {
        font-family: Montserrat, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
        font-size: 1.3rem;
        font-weight: 700; 
        color: #141414;
    }

    p {
        font-family: "Open Sans", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: #3f3f3f;
        line-height: 25px;
    }
    </style>
</head>
<body>
    <div id="all">
        <div class="container">
            <div style="margin-bottom: 20px;">
                <img src="https://i.imgur.com/ZGBu8yh.png" alt="Logo" style="max-width: 120px;">
            </div>
    
            <h1>Sucesso na confirmação de e-mail</h1>
            <div class="success-msg">
                <p >Boas notícias! <br> Agora você pode participar do nosso evento. Aguardamos você lá. </p>
            </div>
        </div>
    </div>
</body>
</html>
